:root {
    --gridCols: 1;
    --gridRows: 1;
}

body {
    background-color: #e8e8e8;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    /* display: inline-flex; */
    margin: 2rem;
    padding: 4px 16px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 3px 5px darkslategrey;
    font-size: 2rem;
    font-family: 'Averia Sans Libre', cursive;
    color: white;
    background-color: slategrey;
}

.button:hover {
    background-color: darkslategrey;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--gridCols), 1fr); 
    grid-template-rows: (repeat(var(--gridRows), 1fr));
    border: 4px solid black; 
    border-radius: 12px;
    box-shadow: 5px 5px 5px black;
    background-color: darkcyan;
    width: 960px;
    height: 960px;
    margin: 0 auto;

}

.grid-square {
    border: 1px solid black;
    background-color: darkcyan;
